@charset "utf-8";
@import "compass";
@import "lib/mixins";

$base-font-size: 100%;
$base-line-height: 1.4;
$em-base: 16px;

$body-bg: #fff;
$body-font-color: #222;
$body-font-family: sans-serif;

$selection-bg: #b3d4fc;

$link-color: #00f;
$link-color-hover: darken($link-color, 10%);